
namespace: cavea-back-prod

resources:
  requests:
    memory: "512Mi"
    cpu: "400m"
  limits:
    memory: "1Gi"
    cpu: "800m"

db_name: cavea_prod_db
mysql_root_password: ""

storage:
  size: "20Gi"